@font-face {
    font-family: 'YouSheBiaoTiHei';
    src: url('./images/YouSheBiaoTiHei.woff2') format('woff2');
}

.search-text {
    font-size: 20px;
    color: #f00;
    font-family: 'YouSheBiaoTiHei';
}